:root {
    --backbase-white: #fff;
    --backbase-orange: #ee7236;
    --backbase-green: #118293;
    --backbase-grey: #d5d5d5;
    --backbase-grey-dark: #757575;
    --backbase-grey-darker: #424242;
}

body {
    margin: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--backbase-orange);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--backbase-orange);
}
